<%= form_for @book do |f| %>
	<div class="form-group row pb-4">
		<label>Title</label>
    <div>
			<%= f.text_field :title, class: 'form-control' %>
		</div>
  </div>
	<div class="form-group row pb-4">
		<label>Author</label>
    <div>
			<%= f.text_field :author, class: 'form-control' %>
		</div>
  </div>
	<%= f.submit :Submit, class: 'btn btn-primary pt-2' %>
<% end %>