<div class="container p-5">
	<div style="display: inline-block;" class="pb-4">
		<h3 class="pb-5">Book List</h3>
		Sort by <select name="cars" id="cars">
		  <option value="title">Title</option>
		  <option value="author">Author</option>
		</select>
	</div>
	<table class="mb-5">
		<thead>
			<th class="px-3">Id</th>
			<th class="px-3">Title</th>
			<th class="px-5">Author</th>
		</thead>
		<tbody>
			<% @book_lists.each do |book| %>
				<tr>
					<td class='py-2 px-3'><%= book.id %></td>
					<td class='py-2 px-3'>
						<%= link_to book.title, book_path(book) %>
					</td>
					<td class="py-2 px-5">
						<%= book.author %>
					</td>
				</tr>
			<% end %>
			</tbody>
	</table>

<%= link_to "Add Book", new_book_path %>
</div>
