<div class="container py-5">
	<h3 class="pb-3"> Book details </h3>
	<h5>Title: <%= @book.title %></h5>
	<p class="pb-3">Author: <%= @book.author %></p>

	<%# Add review here %>
	<% if @book.reviews.present? %>
		<% @book.reviews.each do |review| %>
			<div class="review-rating" data-score="<%= review.rating %>"></div>
			<%= review.comment %>
			<p>Review on <%= Time.at(review.created_at) %></p>
		<% end %>
	<% end %>
	<br>
	<p class="py-4">
		<%= link_to "Add Review", new_book_review_path(@book)%>
		<%= link_to "Book List", '/', class: 'px-4' %>
	</p>
</div>

<script>
	$(document).ready(function(){
		$('.review-rating').raty({
			readOnly: true,
			score: function(){
				return $(this).attr('data-score');
			},
			path: '/assets/'
		});
	})
</script>