<%= form_for [@book, @book.reviews.build] do |f| %>
	<div id="rating-form">Rating:  </div><br><br>
	<div class="form-group row pb-4" id="comment_row" style="display:none">
		<label>Comment:</label>
    <div>
			<%= f.text_field :comment, class: 'form-control' %>
		</div>
  </div>
	<%= f.submit :Submit, class: 'btn btn-primary pt-2' %>
<% end %>

<script>
	$('#rating-form').on('click',function(){
		if($("input[name='review[rating]']").val() >2){
			$('#comment_row').show();
		}
	})
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>